<template>
  <v-card
    class=""
  >
    <v-sheet
      color="indigo"
      class="ma-2"
    >
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-0">
      <v-layout row wrap class="mt-5">
        <v-flex md6 xs12 class="pa-2 text-center">
          <v-layout row wrap style="width:100%" class="ma-0">
            <v-btn
              style="width:100%;height:100px;border-radius: 10px;"
              class="ma-0 white--text"
              @click=""
              large
              href="/projects"
            >
              <v-layout row wrap>
                <v-flex md3>
                  <v-icon style="font-size:60px;border-radius: 10px;width:90%" class="teal accent-2 pa-2 indigo--text">forum</v-icon>
                </v-flex>
                <v-flex md9>
                  <h3 class="indigo--text mt-5">مشاوره میدهم</h3>
                </v-flex>
              </v-layout>
            </v-btn>
          </v-layout>
        </v-flex>
        <v-flex md6 xs12 class="pa-2 text-center">
          <v-layout row wrap style="width:100%" class="ma-0">
            <v-btn
              style="width:100%;height:100px;border-radius: 10px;"
              class="ma-0 white--text"
              @click=""
              large
            >
              <v-layout row wrap>
                <v-flex md3>
                  <v-icon style="font-size:60px;border-radius: 10px;width:90%" class="teal accent-2 pa-2 indigo--text">cloud_upload</v-icon>
                </v-flex>
                <v-flex md9>
                  <h3 class="indigo--text mt-5">مشاوره میخواهم</h3>
                </v-flex>
              </v-layout>
            </v-btn>
          </v-layout>
        </v-flex>
        <v-flex md6 xs12 class="pa-2 text-center">
          <v-layout row wrap style="width:100%" class="ma-0">
            <v-btn
              style="width:100%;height:100px;border-radius: 10px;"
              class="ma-0 white--text"
              @click=""
              large
            >
              <v-layout row wrap>
                <v-flex md3>
                  <v-icon style="font-size:60px;border-radius: 10px;width:90%" class="teal accent-2 pa-2 indigo--text">cloud_upload</v-icon>
                </v-flex>
                <v-flex md9>
                  <h3 class="indigo--text mt-5">خدمات مشاوره</h3>
                </v-flex>
              </v-layout>
            </v-btn>
          </v-layout>
        </v-flex>
        <v-flex md6 xs12 class="pa-2 text-center">
          <v-layout row wrap style="width:100%" class="ma-0">
            <v-btn
              style="width:100%;height:100px;border-radius: 10px;"
              class="ma-0 white--text"
              @click=""
              large
            >
              <v-layout row wrap>
                <v-flex md3>
                  <v-icon style="font-size:60px;border-radius: 10px;width:90%" class="teal accent-2 pa-2 indigo--text">cloud_upload</v-icon>
                </v-flex>
                <v-flex md9>
                  <h3 class="indigo--text mt-5">قوانین و مقررات</h3>
                </v-flex>
              </v-layout>
            </v-btn>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data:()=> ({
        projects:[
          {title:'Brunch this weekend?',person:'Ali Connors',due:'15 min',status:'ongoing'},
          {title:'Summer BBQ',person:'me, Scrott, Jennifer',due:'2 hr',status:'complete'},
          {title:'Oui oui',person:'Sandra Adams',due:'6 hr',status:'complete'},
          {title:'Birthday gift',person:'Trevor Hansen',due:'12 hr',status:'overdue'}
        ],
        labels: [
          '12am',
          '3am',
          '6am',
          '9am',
          '12pm',
          '3pm',
          '6pm',
          '9pm',
        ],
        value: [
          200,
          675,
          410,
          390,
          310,
          460,
          250,
          240,
        ],
    }),
    methods:{
      sortBy(prop){
        this.projects.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
      }
    }
  }
</script>

<style scoped>
  .v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>