<template>
  <v-card class="project pl-2">
    <v-subheader>
      <h1 class="font-weight-black topmo--text">پروژه ها</h1>
    </v-subheader>
    <v-expansion-panel>
      <v-expansion-panel-content v-for="project in projects" :key="project.title">
        <template v-slot:header>
          <div class="text-xs-right">{{ project.title }}</div>
        </template>
        <v-card>
          <v-card-text class="pa-4">
            <div class="font-weight-bold text-xs-right">{{project.due}}</div>
            <div class="text-xs-right">{{project.content}}</div>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      projects:[
        {title:'Brunch this weekend',person:'Ali Connors',due:'15 min',status:'ongoing', content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',},
        {title:'Summer BBQ',person:'me, Scrott, Jennifer',due:'2 hr',status:'complete', content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',},
        {title:'Oui oui',person:'Sandra Adams',due:'6 hr',status:'complete', content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',},
        {title:'Birthday gift',person:'Trevor Hansen',due:'12 hr',status:'overdue', content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',},
        {title:'Brunch this weekend dfurhf',person:'Ali Connors',due:'15 min',status:'ongoing', content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',},
      ]
    }),
  }
</script>