<template>
  <v-card class="pl-2">
    <v-subheader>
      <h1 class="font-weight-black topmo--text">تیم</h1>
    </v-subheader>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name ">
        <v-card flat class="ma-2 pt-3 colortopmo text-xs-center">
          <v-responsive>
            <v-avatar size="100" class="topmo lighten-2">
              <img :src="person.avatar">
            </v-avatar>
          </v-responsive>
          <v-card-text>
            <div class="subheading">{{person.name}}</div>
            <div class="topmo--text">{{person.role}}</div>
            <v-rating
              v-model="rating"
              background-color="orange lighten-3"
              color="orange"
              small
            ></v-rating>
          </v-card-text>
          <v-card-actions>
            <v-btn small fab flat class="white topmo--text">
              <v-icon small>favorite</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn small fab flat class="white topmo--text">
              <v-icon small>remove_red_eye</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      team: [
        {name:'the net ninja', role:'web designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'ryo,', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'chun li', role:'web developer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'gouken', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'the net ninja', role:'web designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'ryo,', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'chun li', role:'web developer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'gouken', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'ryo,', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'chun li', role:'web developer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
        {name:'gouken', role:'graphic designer', avatar:'https://cdn.vuetifyjs.com/images/john.jpg'},
      ],
      rating: 4,
    })
  }
</script>