<template>
  <v-card class="project pl-2">
    <v-subheader>
      <h1 class="font-weight-black topmo--text">تست</h1>
    </v-subheader>
    <div>
      <v-alert
        v-model="alert"
        type="pink"
      >
        <v-btn
          small
          class="lightgreen white--text"
          style="margin:0%;height:20px"
        >
          <v-icon class="white--text" right>remove_red_eye</v-icon>
          رزرو
        </v-btn>
      </v-alert>

      <div class="text-xs-center">
        <v-btn
          v-if="!alert"
          color="primary"
          dark
          @click="alert = true"
        >
          Reset
        </v-btn>
      </div>
    </div>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      alert: true
    })
  }
</script>