<template>
  <v-card height="350px">
    <v-navigation-drawer
      right
      width="100%"
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-row no-gutters>
            <v-col md="3" class="py-2">
              <v-badge color="green" left overlap>
                <template v-slot:badge class="mt-5">
                  <v-icon>fas fa-fighter-jet</v-icon>
                </template>
                <img src="../assets/images/user.png" style="width:100%">
              </v-badge>
            </v-col>
            <v-col md="9" class="pa-4">
              <v-list-item-title>نام و نام خانوادگی</v-list-item-title>
              <v-list-item-subtitle class="mt-1">مشاور کسب و کار</v-list-item-subtitle>
              <v-list-item-subtitle class="mt-1">۰۹۱۲۳۴۵۶۷۸۹</v-list-item-subtitle>
            </v-col>
          </v-row>
        </v-list-item>
      </template>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          class="mx-2 blue-grey lighten-5 my-1"
          v-for="item in items"
          :key="item.title"
          link
        >
          <v-list-item-icon>
            <v-icon class="indigo--text">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="indigo--text">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          { title: 'داشبورد', icon: 'mdi-desktop-mac-dashboard'},
          { title: 'پروژه ها', icon: 'mdi-image'},
          { title: 'مشاوران', icon: 'supervised_user_circle'},
        ],
      }
    },
  }
</script>