<template>
  <div>
    <v-toolbar class="indigo">
      <v-toolbar-title>
        <v-btn text max-width="100">
          <img :src="require('../assets/logo/topmo2.png')" style="width:30%" alt="">
        </v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn text color="white">خانه</v-btn>
        <v-menu open-on-hover bottom left offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              color="white"
              text
              v-on="on"
            >
              خدمات مشاوره
              <v-icon>keyboard_arrow_down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              class="pa-1"
              v-for="(item, index) in items"
              :key="index"
            >
              <v-list-item-title>
                <v-btn color="indigo" text style="width:100%">{{ item.title }}</v-btn>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn text color="white">مشاوران ما</v-btn>
        <v-btn text color="white">تماس با ما</v-btn>
        <v-btn text color="white">درباره ما</v-btn>
        <v-btn text color="white">وبلاگ</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <template>
        <div class="text-center">
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-width="150"
            offset-x
          >
            <template v-slot:activator="{ on }">
              <v-badge left overlap color="red">
                <template v-slot:badge>1</template>
                <v-btn
                  v-on="on"
                  text
                  class="white indigo--text"
                >
                  <v-icon left>person</v-icon>
                  نام و نام خانوادگی
                </v-btn>
              </v-badge>
            </template>

            <v-card>
              <v-list>
                <v-list-item>
                  <v-list-item-avatar>
                    <img src="../assets/images/user.png" alt="John">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>نام و نام خانوادگی</v-list-item-title>
                    <v-list-item-subtitle>مشاور کسب و کار</v-list-item-subtitle>
                  </v-list-item-content>
                   <v-list-item-action>
                    <v-switch color="green" v-model="switch1" inset></v-switch>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="error" text @click="menu = false">خروج از حساب</v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </div>
      </template>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    data: () => ({
      fav: true,
      menu: false,
      message: false,
      switch1: false,
      items: [
        { title: 'مشاوره تحصیلی و کسب و کار' },
        { title: 'مشاوره روانشناسی' },
        { title: 'مشاوره اعتیاد' },
      ],
    }),
  }
</script>