<template>
  <v-app class="grey lighten-4">
    <Toolbar class="hidden-sm-and-down" />
    <Navbar1 class="hidden-md-and-up"/>
    <v-layout row wrap class="px-6">
      <v-flex md3 class="hidden-sm-and-down">
        <v-content class="py-4 pr-4" app>
          <Navbar2 app class="py-2 px-2"/>
        </v-content>
      </v-flex>
      <v-flex md9 sm12 xs12>
        <v-content class="py-4 px-4" app>
          <router-view app class="py-2 px-2"></router-view>
        </v-content>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import Navbar1 from '@/components/Navbar1'
import Navbar2 from '@/components/Navbar2'
import Toolbar from '@/components/Toolbar'
export default {
  name: 'App',
  components: { Navbar1,Navbar2,Toolbar },
  data () {
    return {
      //
    }
  }
}
</script>
